.container-fluid ul {
  font-size: 14px;
  margin-right: 20px;
  color: hsl(0, 0%, 98%);
  font-weight: 400px;
}
.container-fluid ul:hover {
  color: hsl(256, 26%, 20%);
}
.container-fluid .navbar-brand {
  text-transform: uppercase;
  padding: 15px;
}
.navbar-brand {
  color: hsl(255, 44%, 13%);
}
.nav-link:hover {
  color: hsl(255, 44%, 13%);
}
.container-fluid .active {
  background: hsl(256, 26%, 20%);
}

.part1 img {
  width: 350px;
}
.part1 p {
  font-size: 15px;
}

.part1 {
  padding: 100px;
  height: 385px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
  color: black;
}
.part1 .btn {
  background: hsl(255, 44%, 13%);
  border-color: white;
  padding: 10px 30px 10px 30px;
}
.part1 button:hover {
  background: white;
  color: hsl(255, 44%, 13%);
}
section {
  margin: 190px;
}
.container .part2 h1 {
  font-size: 50px;
}
.container .part2 img {
  width: 50px;
}
.container .part2 p {
  font-size: 13px;
  color: hsl(216, 30%, 68%);
}
.silver .part3 h1 {
  font-size: 30px;
}
.silver .part3 {
  padding: 70px;
  height: 200px;
  background: radial-gradient(
    circle at 50.3% 44.5%,
    rgb(116, 147, 179) 0%,
    rgb(62, 83, 104) 100.2%
  );
  color: white;
}
.part4 {
  background: hsl(0, 0%, 98%);
  padding: 70px;
  height: 300px;
}
.part4 ul {
  list-style: none;
}
.part4 img {
  width: 15px;
}
.part4 .company {
  display: inline-block;
  padding-inline: 2px;
}
.part4 .company:hover {
  background: hsl(256, 26%, 20%);
  cursor: pointer;
  border-radius: 100%;
}
.part4 p {
  font-size: 13px;
  color: hsl(218, 25%, 44%);
}
.part4 a {
  color: hsl(217, 30%, 19%);
  font-size: 12px;
  text-decoration: none;
  line-height: 2.3;
}
.part4 a:hover {
  text-decoration: underline;
}
.part4 .linking {
  margin-left: 29px;
}
.container .aboutPage {
  background: hsl(0, 0%, 98%);
  padding: 23px;
  margin: 35px;
}
.container .social-links a {
  padding-inline: 40px;
  background: hsl(253, 13%, 78%);
  cursor: pointer;
  border-radius: 50%;
  padding: 15px;
  color: rgb(255, 255, 255);
  margin-left: 25px;
}
.social-links {
  text-align: center;
}
.container .aboutShawn {
  font-size: 55px;
  text-align: center;
  padding: 50px;
}
.container .aboutShawn2 {
  text-align: center;
  padding: 50px;
}

.container .shawnPhoto img {
  display: block;
  margin: 0 auto;
  width: 600px;
  padding-bottom: 40px;
}
.container .shawn-paragraph p {
  font-size: 19px;
}
.container .link a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: blueviolet;
}
footer p {
  font-size: 12px;
}
.contact-section h2 {
  font-size: 97px;
  padding-top: 80px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.contact-section p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.contact-section {
  background: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
  padding: 150px;
}
.contact-section2 {
  background: black;
  padding: 120px;
  color: white;
}
.contact-section2 h6 {
  font-size: 35px;
  font-family: "Cormorant Garamond", serif;
}
.contact-section2 p {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
}
.contact-section2 i {
  background-color: rgb(0, 195, 255);
  padding: 5%;
  border-radius: 50%;
}

.contact-section3 {
  padding: 100px;
}
.contact-section3 h3 {
  font-size: 35px;
}
.contact-section3 input {
  border-color: black;
}
.contact-section3 textarea {
  border-color: black;
}
@media (max-width: 767px) {
  .contact-section {
  
  padding: 55px;

}
  .contact-section h2 {
    font-size: 20px;
  }
 


  .contact-section p {
    font-size: 20px;
    text-transform: lowercase;
  }
  .contact-section2 h6 {
    font-size: 20px;
  }
  .contact-section2 p {
    font-size: 20px;
  }
  .contact-section3 h3 {
    font-size: 20px;
  }
  .contact-section3 {
    padding: 40px;
}
  .container .aboutShawn {
    font-size: 20px;
  }
  .container .shawnPhoto img {
    width: 220px;
  }
  .container p {
    font-size: 14px;
  }
  .container h1 {
    font-size: 25px;
  }
  .silver .part3 {
    height: 300px;
  }
  .silver .part3 .portfolio {
    background-color: #7aa7eb;
    border-color: #7aa7eb;
    padding: 15px;
  }
  .silver .part3 .portfolio:hover {
    background: white;
    color: black;
  }
  .bronze .part4 {
    margin-top: 60px;
    height: 370px;
  }
  footer p {
    font-size: 11px;
  }
  .part1 p {
    font-size: 12px;
  }
  .part1 .btn {
    width: 100%;
  }
  .part1 button:hover {
    background: white;
    color: hsl(255, 44%, 13%);
  }
  .part1 {
    padding: 60px;
  }
  .part1 h1 {
    font-size: 25px;
  }
  section {
    margin: 50px;
  }
  .container .part2 h1 {
    font-size: 50px;
  }
  .silver .part3 h1 {
    font-size: 20px;
    text-align: start;
  }
  .silver .part3 {
    padding: 70px;
    height: 230px;
  }
  .silver .part3 .portfolio {
    background-color: #132f5a;
    border-color: #132f5a;
    margin: 10px;
    width: 100%;
  }
  .silver .part3 .portfolio :hover {
    background-color: #5a5313;
  }
  .bronze .part4 {
    height: 590px;
  }
  footer p {
    margin: 35px;
    font-size: 15px;
  }
}
