.container-fluid ul {
  font-size: 14px;
  margin-right: 20px;
  color: hsl(0, 0%, 98%);
  font-weight: 400px;
}
.container-fluid ul:hover {
  color: hsl(256, 26%, 20%);
}
.container-fluid .navbar-brand {
  text-transform: uppercase;
  padding: 15px;
  margin-left: 90px;
}
.navbar-brand {
  color: hsl(255, 44%, 13%);
}
.nav-link:hover {
  color: hsl(255, 44%, 13%);
}
.container-fluid .active {
  background: hsl(256, 26%, 20%);
}

.container img {
  width: 350px;
}
.container p {
  font-size: 15px;
}

.container .part1 {
  padding: 100px;
  height: 385px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
  color: black;
}
.container .btn {
  background: hsl(255, 44%, 13%);
  border-color: white;
  padding: 10px 30px 10px 30px;
}
.container button:hover {
  background: white;
  color: hsl(255, 44%, 13%);
}
section {
  margin: 190px;
}
.container .part2 h1 {
  font-size: 50px;
}
.container .part2 img {
  width: 50px;
}
.container .part2 p {
  font-size: 13px;
  color: hsl(216, 30%, 68%);
}
.container .part3 h1 {
  font-size: 30px;
}
.container .part3 {
  padding: 70px;
  height: 200px;
  background: radial-gradient(
    circle at 50.3% 44.5%,
    rgb(116, 147, 179) 0%,
    rgb(62, 83, 104) 100.2%
  );
  color: white;
}
.container .part4 {
  background: hsl(0, 0%, 98%);
  padding: 70px;
  height: 300px;
}
.container .part4 ul {
  list-style: none;
}
.container .part4 img {
  width: 15px;
}
.container .part4 .company {
  display: inline-block;
  padding-inline: 2px;
}
.container .part4 .company:hover {
  background: hsl(256, 26%, 20%);
  cursor: pointer;
  border-radius: 100%;
}
.container .part4 p {
  font-size: 13px;
  color: hsl(218, 25%, 44%);
}
.container .part4 a {
  color: hsl(217, 30%, 19%);
  font-size: 12px;
  text-decoration: none;
  line-height: 2.3;
}
.container .part4 a:hover {
  text-decoration: underline;
}
.container .part4 .linking {
  margin-left: 29px;
}
